* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Habibi", serif;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

a {
    text-decoration: none;
    color: green;
    font-size: 16px;
}

.header-text span {
    padding: 30px 0;
    font-size: 24px;
}

.header-text p {
    font-size: 18px;
    padding: 30px 0;
}

.form {
    border: 5px solid rgb(46, 90, 103);
    padding: 30px;
    border-radius: 15px;
    width: 600px;
}

.form input {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 6px;
    border-color: chocolate;
}



.submit {
    background-color: rgb(164, 164, 237);
}


.main-btn-style {
    margin-top: 15px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    transition: all .5s;
}

.main-btn-style:hover {
    opacity: 0.9;
    outline: 4px solid #54aaad;
}

.submit:hover {
    cursor: pointer;
}

/* ====================================== INCOME PAGE STYE  ======================================= */
.btn-main-bg {
    background-color: rgb(25, 176, 149);
}

.income-expense-btn {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.income-expense-btn button {
    padding: 7px;
    border-radius: 8px;
    border: none;
    font-size: 16px;

}

.income-expense-btn button:hover {
    cursor: pointer;
}

.header-flex {
    display: flex;
    gap: 20px;
    font-size: 28px;
    font-weight: 600;
    padding: 20px 0;
}

.radius {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: rgb(207, 209, 226);
}

.income-input {

    background-color: rgb(241, 248, 248);
}

.expense-input {
    background-color: rgb(250, 235, 235);
}

.same-input-style {
    border-radius: 5px;
    border: 1px solid rgb(242, 239, 239);
    padding: 20px;
}

.invoices-container {
    padding: 20px;
}

.income-form p {
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
}

.income-form input {
    font-size: 16px;
    padding: 5px;
    border: 1px solid rgb(242, 239, 239);
    border-radius: 8px;
}

.expense-form p {
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
}

.expense-form input {
    font-size: 16px;
    padding: 5px;
    border: 1px solid rgb(242, 239, 239);
    border-radius: 8px;
}

.income-btn {
    color: whitesmoke;
    background-color: rgb(35, 171, 123);
}

.income-list {
    border: 1px solid rgb(242, 239, 239);
    padding: 20px;
}

.clear-all p {
    font-size: 20px;
    font-weight: 600;
}

table th,
table td {
    padding: 10px 60px;
    text-align: center;
}

table,
td,
th {
    border: 1px solid rgb(194, 191, 191);
}

table {
    border-collapse: collapse;
}

table th {
    background-color: rgb(229, 249, 243);
}

.total-income {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(242, 239, 239);
    border-radius: 8px;
    background-color: rgb(232, 245, 251);
}

.income-total-container {
    display: flex;
    align-items: center;
    gap: 20px;

}

.income-text,
.total {
    color: rgb(33, 33, 190);
    font-size: 20px;
    font-weight: 600;
}

.trash-bg,
.fa-trash {
    transition: all .3s ease-in-out;
}

.trash-bg:hover {
    background-color: rgb(193, 11, 38);
    cursor: pointer;
}

.trash-bg:hover .fa-trash {
    color: white !important;
    /* background-color: white; */
}

/* ==================================== EXPENSE PAGE STYLE ====================================== */
.expense-btn {
    background-color: crimson;
    border: none;
}

.red-table-th th {
    background-color: rgb(250, 243, 243);
}

.red-total-expense {
    background-color: rgb(251, 231, 242);
}

.display-content {
    display: none;
}

.logout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logout:hover {
    cursor: pointer;
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif img {
    width: 500px;
    height: 500px;
}